body {
background-image: url("images/white.jpeg");
}
h1 {
color: black;
font-size: 2em;
padding: 100px;
width: 100%;
font-family: Georgia, 'Courier New';
text-align: center;
}
p {
color: black;
line-height: 1.3em;
text-align: center;
width: 100%;
font-family: 'Courier New';
font-size: 18px;
font-weight: bold;
}